- 
  var page = {
    title: "オーダー１-Aテンプレート",
    title_about: "会社概要",
    title_contact: "お問い合わせ",
    title_privacy: "プライバシーポリシー",
    description: "ディスクリプションが入ります。",
    keywords: "キーワード1,キーワード2,キーワード3",
    url: "https://order1-a.com/",
    apple_touch_icon: "apple-touch-icon.png",
    favicon: "favicon.ico"
  };

  var css = {
    reset: "../css/reset.css",
    style: "../css/style.css",
    wf_noto: "https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap",
  }

  var js = {
    jquery: "https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js",
    common: "../js/common.bundle.js",
    top: "../js/top.bundle.js",
    about: "../js/about.bundle.js"
  }

  var info = {
    tellphone: "01-1234-5678",
    opentime: "9:30",
    closetime: "18:30"
  }