//* Theme Color:red
//* This is Order1-A theme.Theme color red version.

//***************************************
// color
//***************************************/
$color-primary:#212121;
$color-secondary: #f9344c;
$color-placeholder: #eff0f2;
$color-footer: #1f1f1f;
$color-header-shadow: rgba(0, 0, 0, 0.16);

$color-white:#fff;
$color-white-op05: rgba(255,255,255,0.5);
$color-gray1: #9A9A9A;
$color-gray2: #F7F7F7;
$color-gray3: #DBDBDB;
$color-gray4: #EAEBE9;
$color-black: #222;