header.h.js-sticky
  div.h_container
    p.h_logo
      a.h_logo__link(href="index.html") DEMO Inc.
        // img.h_logo__img(src="../image/logo.jpg", alt="LOGO(画像)")


    button.h_nav__hamburger.sp_show
      span.h_nav__hamburger_icon

    nav.h_nav
      ul.h_nav__list
        li.h_nav__item
          a(href="index.html#service") 事業内容
            // span.h_nav__sub_text text
        li.h_nav__item
          a(href="index.html#news") ニュース
            // span.h_nav__sub_text text
        li.h_nav__item
          a(href="about.html") 会社情報
            // span.h_nasub_v__tsub text
        li.h_nav__item
          a(href="contact.html")  お問い合わせ
            // span.h_nav__sub_text text